<div class="mt-4">
  <div class="row">
    <div class="d-flex justify-content-end">

      <ng-template #logIn><a class="nav-link" [routerLink]="['/login']">LOG IN</a></ng-template>

      <a class="nav-link" [routerLink]="['/signup']">SIGN IN</a>
    
      <a class="nav-link navbar-brand frida" *ngIf="userLogged|async as user; else logIn">
        <img 
        style="border-radius: 100%;"
        *ngIf="user.photoURL" src="{{user.photoURL}}"
         class="avatar d-inline-block align-top"
        alt="">
        {{user.displayName ? user.displayName : user.email}}
      </a>

      <div *ngIf="userLogged">
      <button class="btn btn-outline-primary" (click)="logOut()" >SIGN OUT</button>
      </div>
      
      </div>


    <a class="navbar-brand" href="#">
      <img
        src="https://cdn.worldvectorlogo.com/logos/star-wars-2.svg"
        alt="starwars-logo"
        width="170"
        height="160"
        class="mx-auto d-block mb-3"
      />
    </a>

    <div class="col col-sm-10 col-md-8 col-xl-12 mx-auto d-block">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link fs-4"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-4"
            routerLinkActive="active"
            [routerLink]="['/starships']"
            >StarShips</a
          >
        </li>
         <li class="nav-item">
          <a
            class="nav-link fs-4"
            routerLinkActive="active"
            [routerLink]="['/actors']"
            >Actors</a
          >
        </li>
         <li class="nav-item">
          <a
            class="nav-link fs-4"
            routerLinkActive="active"
            [routerLink]="['/planets']"
            >Planets</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
